body {
    background-color: #CBE4DE;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

hr {
    border-color: #0E8388;
    border-style: none;
    border-top-style: solid;
}

h1 {
    color: #2C3333;
}

h2 {
    color: #2C3333;
}

h3 {
    color: #2C3333;
}

.top-container {
    background-color: #CBE4DE;
    position: relative;
}

.middle-container {

}

.bottom-container {

}

.bio {
    width: 500px;
    margin: auto;
}

.top-cloud {
    position: relative;
    left: 60%;
    display: block;
}

.bottom-cloud {
    position: absolute;
    left: 30%;
}

.mountain {

}
