body {
    background-color: #CBE4DE;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

hr {
    border-color: #0E8388;
    border-style: none;
    border-top-style: solid;
}

ul {
    list-style-position: inside;
}

h1 {
    color: #2C3333;
    font-size: 500%;
}

h2 {
    color: #2C3333;
}

h3 {
    color: #2C3333;
}

.top-container {
    background-color: #CBE4DE;
    position: relative;
}

.electrical-container {
    width: 800px;
    margin: auto;
}

.software-container {
    width: 500px;
    margin: auto;
}

.bio {
    width: 500px;
    margin: auto;
}

.experience {
    width: 800px;
    margin: auto;
}

.home {
    padding: 50px;
}

.skill-icons {
    height: 300px;
    display: block;
    margin: auto;
}

.top-cloud {
    position: relative;
    left: 60%;
    display: block;
}

.bottom-cloud {
    position: absolute;
    left: 30%;
}
